---
const personalImageAlt = "Stalin Rafael sonas"
---

<article class="flex flex-col items-center justify-center gap-8 text-token-neutral-204 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-purple-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 text-base"
  >
    <p>
      Me llamo Stalin Diloné, y soy estudiante de <strong>Ingeniería en Sistemas</strong> en la Universidad Dominicana O&M. Desde muy joven me ha interesado el desarrollo web, y actualmente me especializo en crear <strong>sitios web eficientes y atractivos</strong> utilizando tecnologías como React, Next.js y bases de datos SQL.
    </p>

    <p>
      Durante mi pasantía en <strong>Fácil Soluciones</strong>, optimicé equipos electrónicos y desarrollé una página web para la empresa utilizando React y Python. Este proyecto me permitió integrar mis habilidades en el desarrollo de backend y frontend, brindando una solución digital efectiva para el negocio.
    </p>

    <p>
      Me apasiona compartir conocimientos, por lo que he liderado charlas y clases sobre <strong>desarrollo web y bases de datos</strong> en mi entorno académico. Mi objetivo es seguir perfeccionando mis habilidades en proyectos a gran escala, integrando tecnologías emergentes como inteligencia artificial y análisis de datos en aplicaciones prácticas para la República Dominicana.
    </p>
  </div>
  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-3xl bg-black/20 dark:bg-purple-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>
