---
import { ViewTransitions } from "astro:transitions";
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="relative text-white bg-[#020617] bg-[url(/bg.svg)] bg-repeat bg-cover"
  >
    <div
      class="absolute bottom-0 left-0 right-0 top-0 z-[-2] bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
    <style>
      @font-face {
        font-family: "General Sans";
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/fonts/general-sans.woff2") format("woff2");
      }

      @font-face {
        font-family: "Quicksand";
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/fonts/quicksand.woff2") format("woff2");
      }

      html,
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
        font-family: "General Sans";
      }

      @media (prefers-reduced-motion) {
        html,
        body {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
